services:
  xpenodock:
    image: uxora/xpenology:latest
    container_name: xpenodock
    privileged: true
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/net/tun:/dev/net/tun"
      - "/dev/kvm:/dev/kvm"
      - "/dev/vhost-net:/dev/vhost-net"
    environment:
      BOOTLOADER_ALT_PATH: "/xpy/bootloader/loaderdsm."
      CPU: "qemu64"
      THREADS: 1
      RAM: 4028
      DISK_SIZE: "32"
      DISK_PATH: "/xpy/diskvm"
      VM_ENABLE_VGA: "Y"
      VM_VNC_PORT: "5901"
      KVM_VIDEO_OPTS: "-device VGA,vgamem_mb=2 -vnc 0.0.0.0:1"
      GRUBCFG_DISKIDXMAP: "00"
      GRUBCFG_SATAPORTMAP: "1"
      VM_NET_DHCP: "N"
    volumes:
      - ./disk:/xpy/diskvm
      - ./bootloader:/xpy/bootloader
    networks:
      vlan:
        ipv4_address: 192.168.30.40
    restart: always  # Container will always restart if it crashes or is stopped

networks:
  vlan:
    external: true
